.phone_input__container {
  display: flex;
  flex-direction: column;
}

.phone_input__label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.phone_input__input {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
}

.phone_input__select {
  width: 10rem;
}

.phone_input__dial_code {
  margin: 0 0.2rem;
}

.phone_input__hidden_dial_code {
  padding: 0 0.2rem;
}

@media only screen and (max-width: 400px) {
  .phone_input__select { width: 100%; }
  .phone_input__hidden_dial_code { padding: 0;}
  .phone_input__input {flex-wrap: wrap; width: 100%;}
  .phone_input__input > * + * { margin: 0.2rem 0;}
}
